@model ClientInstanceViewModel
@{
    ViewData["Active"] = "Instances";
    var statuses = Helpers.Statuses();
    var option = Model.IsEditMode ? "Update" : "Add";
    var title = $"{option} Client instance";
    ViewData["Title"] = title;
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form method="post" autocomplete="off">
        <div asp-validation-summary="All"></div>
        <input asp-for="Id" />
        <input asp-for="IsEditMode" />
        <input asp-for="ClientId" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" placeholder="Code" class="form-control">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" placeholder="Name" class="form-control">
                        <span asp-validation-for="Code" class="text-danger"></span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Town"></label>
                        <input asp-for="Town" class="form-control" placeholder="Town">
                        <span asp-validation-for="Town" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PostalAddress"></label>
                        <input asp-for="PostalAddress" class="form-control" placeholder="Postal Address">
                        <span asp-validation-for="PostalAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EmailAddress"></label>
                        <input asp-for="EmailAddress" class="form-control" placeholder="email@domain.com">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PrimaryTelephone"></label>
                        <input asp-for="PrimaryTelephone" class="form-control numbers-only" placeholder="07XXXXXXXX">
                        <span asp-validation-for="PrimaryTelephone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SecondaryTelephone"></label>
                        <input asp-for="SecondaryTelephone" class="form-control numbers-only" placeholder="07XXXXXXXX">
                        <span asp-validation-for="SecondaryTelephone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PinNo"></label>
                        <input asp-for="PinNo" class="form-control" placeholder="PIN">
                        <span asp-validation-for="PinNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ShortCodeNo"></label>
                        <input asp-for="ShortCodeNo" class="form-control" placeholder="Short Code">
                        <span asp-validation-for="ShortCodeNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ReceiptNotes"></label>
                        <input asp-for="ReceiptNotes" class="form-control" placeholder="Receipt Footer Notes">
                        <span asp-validation-for="ReceiptNotes" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Notes"></label>
                        <input asp-for="Notes" class="form-control" placeholder="Notes" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <div class="row">
                            @foreach (var item in statuses)
                            {
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" id="@item.Id" type="radio" asp-for="Status" value="@item.Id">
                                        <label class="form-check-label" for="@item.Id">@item.Text</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (!User.IsInRole(Role.Clerk))
        {
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </form>
</div>
