@inject ISystemSettingInterface _settingsInterface;
@inject SignInManager<User> _signInManager;
@{
    var settingsRes = await _settingsInterface.ReadAsync();
    var settings = settingsRes.Data;
}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="JC5LioJ1KoLobns00ZKV4f5V4fuyv4Eq6b59u3rHqf0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@settings.Name | @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">-->
@*<li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
        </a>
    </li>*@
<!--@if (!_signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" asp-controller="Home"
                           asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" role="button">
                            <i class="fas fa-user"></i>
                            Login to Account
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link btn btn-secondary" asp-controller="Home"
                           asp-action="Logout" role="button">
                            <i class="fas fa fa-lock"></i>
                            Logout
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewData["Title"]</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="breadcrumb-item active">@ViewData["Title"]</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div>
                </div>

            </section>
        </div>
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a asp-controller="Dashboard" asp-action="Index">@settings.Name</a>.</strong>
            All rights reserved. &nbsp;
            <a asp-controller="Home" asp-action="Privacy">Privacy</a> &nbsp; | &nbsp;
            <a asp-controller="Home" asp-action="Terms">Terms &amp; Conditions </a>
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> @settings.Version
            </div>
        </footer>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@settings.Name | @ViewData["Title"]</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="~/css/landing-page.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><strong>@settings.Name</strong></a>
            @if (!_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Home"
                   asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn btn-primary">Log In</a>
            }
            else
            {
                <a asp-controller="Home"
                   asp-action="Logout" class="btn btn-secondary">Log out</a>
            }
        </div>
    </nav>
        <div class="content">
            @RenderBody()
        </div>
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a asp-controller="Home" asp-action="Terms">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">
                        <strong>Copyright &copy; @DateTime.Now.Year <a asp-controller="Dashboard" asp-action="Index">@settings.Name</a>.</strong>
                        All rights reserved. &nbsp; Version 
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>

