@inject ISystemSettingInterface _settingsInterface;
@inject SignInManager<User> _signInManager;
@{
    var settingsRes = await _settingsInterface.ReadAsync();
    var settings = settingsRes.Data;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@settings.Name | @ViewData["Title"]</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="~/css/landing-page.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><strong>@settings.Name</strong></a>
            @if (!_signInManager.IsSignedIn(User))
            {
                <a asp-controller="Home" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]"
               class="btn btn-primary">Log In</a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Logout" class="btn btn-secondary">Log out</a>
            }
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="content">
        @RenderBody()
    </div>
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">
                        <span><a asp-controller="Home" asp-action="Terms">Terms of Use</a></span> &nbsp;|&nbsp;
                        <span><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></span>&nbsp;
                        <span>
                            Copyright &copy; @DateTime.Now.Year <a asp-controller="Home"
                                                                   asp-action="Index">@settings.Name</a>.
                        </span> &nbsp;
                        <span>All rights reserved. &nbsp; Version @settings.Version</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
</body>

</html>
