@inject IMasterDataInterface _masterDataInterface;
@inject ICookiesService _cookies;
@inject ICustomerInterface _customerInterface;
@model ProductSaleViewModel
@{
    ViewData["Active"] = "POS";
    var title = $"Point Of Sale";
    ViewData["Title"] = title;
    var userData = _cookies.Read();
    var paymentModes = await _masterDataInterface.PaymentModesAsync(userData.ClientId);
    var walkIn = await _customerInterface.DefaultClientCustomerAsync(userData.ClientId);
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="receipt-line-item">
                <form role="form" autocomplete="off" id="productListForm">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Product</label>
                                    <select class="form-control select2 product-select-search" style="width: 100%;" id="product-select">
                                        <option value="">--Select Product--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input class="form-control numbers-only" value="" id="quantityBought"
                                           placeholder="0.00">
                                    <span class="text-danger" id="quantity-validate"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Selling Price</label>
                                    <input class="form-control numbers-only" id="unitPrice" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ml-4">
                            <p><span id="issMsg"></span> </p>
                            <input id="inpIsPos" value="True" type="hidden" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="text-right">
                            <button type="submit" class="btn btn-primary btn-sm"
                                    id="issBtnAdd">
                                <i class="fa fa-plus-circle"></i>  Add to list
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="receipt-items">
                <table id="datataTable" class="table table-bordered table-striped">
                    <thead class="bg-secondary">
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody id="IssueListTable">
                    </tbody>
                </table>
                <p class="text-right mr-4">
                    <strong>Discount : <span id="issDiscount">0</span> </strong><br />
                    <strong>Tax : <span id="issTax">0</span> </strong><br />
                    <strong>Total  : <span id="issTotal">0</span> </strong>
                </p>
                <br />
                <form method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="IsCredit" type="checkbox" id="credit-sale-check" />
                                <label>Is Credit Sale ?</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CustomerId"></label>
                                <select asp-for="CustomerId" class="form-control select2"
                                        id="customer-select">
                                    <option value="@walkIn.Data.Id">@walkIn.Data.Text</option>
                                </select>
                                <span asp-validation-for="CustomerId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id="refNo">
                                <label>PIN No.</label>
                                <input asp-for="PinNo" class="form-control" id="refNoVal" placeholder="PIN No">
                                <span asp-validation-for="PinNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4  cash-sale">
                            <div class="input-group">
                                <div class="form-group">
                                    <label>Payment Mode</label>
                                    <select asp-for="PaymentModeIdStr" class="form-control select2" style="width: 100%;"
                                            id="paymentMode" required>
                                        <option value="">--Select Payment Mode--</option>
                                        @foreach (var item in paymentModes.Data)
                                        {
                                            <option value="@item.Id" title="@item.Notes">@item.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="PaymentModeIdStr" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  cash-sale">
                            <div class="form-group">
                                <label asp-for="PaymentModeNo"></label>
                                <input asp-for="PaymentModeNo" class="form-control" placeholder="Mode Number">
                                <span asp-validation-for="PaymentModeNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4  cash-sale">
                            <div class="form-group">
                                <label asp-for="AmountReceived"></label>
                                <input asp-for="AmountReceived" class="form-control numbers-only"
                                       placeholder="Amount" value="0" id="posAmountRcvd">
                                <span asp-validation-for="AmountReceived" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Notes"></label>
                                <input asp-for="Notes" class="form-control" placeholder="Notes">
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <input asp-for="LineItemListStr" id="issListRecords" type="hidden" />
                    <input asp-for="Code" type="hidden" value="@userData.InstanceCode" />
                    <input asp-for="InstanceId" id="instanceId" type="hidden" value="@userData.InstanceId" />
                    <input asp-for="ClientId" type="hidden" value="@userData.ClientId" />
                    <button disabled class="btn btn-primary" type="submit" id="btnSumbitIss">
                        <i class="fa fa-save"></i>
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>