@inject IMasterDataInterface _masterDataInterface;
@inject IProductInterface _productInterface;
@inject IClientInstanceInterface _instanceInterface;
@inject ICookiesService _cookies;
@model GoodsReceivedNoteViewModel;
@{
    ViewData["Active"] = "Products";
    var statuses = Helpers.Statuses();
    var title = "Receive Goods";
    ViewData["Title"] = title;
    var userData = _cookies.Read();
    var ordersRes = await _productInterface.PurchaseOrdersAsync(userData.ClientId, userData.InstanceId, true);
    var orderId = ViewData["OrderId"]?.ToString();
    var supplier = ViewData["Supplier"]?.ToString();
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Products" asp-action="GetPurchaseOrderDetails" method="get">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group" style="display: flex;justify-content: space-between;">
                                <label>Purchase Order </label>
                                <select class="form-control select2" name="poId" style="width: 80%;">
                                    <option value="">--Select purchase order--</option>
                                    @foreach (var item in ordersRes.Data)
                                    {
                                        @if (!string.IsNullOrEmpty(orderId) && item.Id.ToString().Equals(orderId))
                                        {
                                            <option selected="selected" value="@item.Id" title="@item.Notes">
                                                @item.Code - @item.Name [@item.Supplier.Name]
                                            </option>
                                        }
                                        <option value="@item.Id" title="@item.Notes">
                                            @item.Code - @item.Name [@item.Supplier.Name]
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form role="form" method="post" autocomplete="off">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="ClientId" value="@userData.ClientId" />
                    <input asp-for="InstanceId" value="@userData.InstanceId" />
                    <input asp-for="PoId" type="hidden" />
                    <input asp-for="Code" type="hidden" value="@userData.InstanceCode" />
                    <input asp-for="Personnel" value="@userData.FullName" type="hidden" />
                    <input asp-for="SupplierId" type="hidden">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="GRN Title">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Notes"></label>
                                <input asp-for="Notes" class="form-control" placeholder="Notes">
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <label>Received Items</label>
                        <table class="table table-striped" id="tablePurchaseItems">
                            <thead class="bg-secondary">
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total Amount</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody id="purchaseOrderItemList">
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model.GrnItems)
                                {
                                    <tr id="tr_@i">
                                        <td>
                                            <input type="hidden" asp-for="GrnItems[i].Id" />
                                            <input type="hidden" asp-for="GrnItems[i].ProductId" />
                                            <input type="hidden" asp-for="GrnItems[i].ProductName" />
                                            <span>@Model.GrnItems[i].ProductName</span>
                                        </td>
                                        <td>
                                            <input asp-for="GrnItems[i].Quantity" class='product-event numbers-only'
                                               id='product-quantity' min="1" max="@Model.GrnItems[i].Quantity" />
                                        </td>
                                        <td>
                                            <input asp-for="GrnItems[i].UnitPrice" class='product-event numbers-only' id='product-price' />
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="GrnItems[i].Amount" />
                                            <strong class='poTotalItems'>@Model.GrnItems[i].Amount</strong>
                                        </td>
                                        @*  <td>
                                            <button type="button" class="btn btn-danger btn-sm"
                                            onclick="removePoItemRow(@i)">
                                            Remove
                                            </button>
                                            </td>*@
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
