@inject IMasterDataInterface _masterDataInterface;
@inject IClientInstanceInterface _instanceInterface;
@inject ICookiesService _cookies;
@model ProductViewModel
@{
    ViewData["Active"] = "Products";
    var statuses = Helpers.Statuses();
    var option = Model.IsEditMode ? "Update" : "Add";
    var title = $"{option} Product";
    ViewData["Title"] = title;
    var userData = _cookies.Read();
    var productCategories = await _masterDataInterface.ProductCategoriesAsync(userData.ClientId);
    var unitsOfMeasure = await _masterDataInterface.UnitOfMeasuresAsync(userData.ClientId);
    var taxTypes = await _masterDataInterface.TaxTypesAsync(userData.ClientId);
    var instancesRes = User.IsInRole(Role.SuperAdmin) ?
    await _instanceInterface.AllAsync()
    : await _instanceInterface.ByClientIdAsync(userData.ClientId);
    var instances = instancesRes.Data;
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form role="form" method="post" autocomplete="off" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" />
        <input asp-for="IsEditMode" />
        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="InstanceIdStr"></label>
                        <select class="form-control select2" asp-for="InstanceIdStr" style="width: 100%;">
                            <option value="">--Select Instance--</option>
                            @foreach (var item in instances)
                            {
                                <option value="@item.Id" title="@item.Notes">
                                    @item.Code - @item.Name (@item.Client.Code -
                                    @item.Client.Name)
                                </option>
                            }
                        </select>
                        <span asp-validation-for="InstanceIdStr" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Code"></label>
                                <input asp-for="Code" class="form-control" placeholder="Code">
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input asp-for="AllowDiscount" class="form-check-input">
                                <label class="form-check-label" asp-for="AllowDiscount"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @if (Model.IsEditMode)
                            {
                                <div class="form-check">
                                    <input asp-for="IsService" class="form-check-input" id="is-service" disabled>
                                    <label class="form-check-label" asp-for="IsService"></label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input asp-for="IsService" class="form-check-input" id="is-service">
                                    <label class="form-check-label" asp-for="IsService"></label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProductCategoryId"></label>
                                <select class="form-control select2" asp-for="ProductCategoryId" style="width: 100%;">
                                    <option value="">--Select Category--</option>
                                    @foreach (var item in productCategories.Data)
                                    {
                                        <option value="@item.Id" title="@item.Notes">@item.Code - @item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TaxTypeId"></label>
                                <select class="form-control select2" asp-for="TaxTypeId" style="width: 100%;">
                                    <option value="">--Select Tax Type--</option>
                                    @foreach (var item in taxTypes.Data)
                                    {
                                        <option value="@item.Id" title="@item.Notes">@item.Code - @item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="TaxTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="product-related">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UnitOfMeasureId"></label>
                                <select class="form-control select2" asp-for="UnitOfMeasureId" style="width: 100%;">
                                    <option value="">--Select Unit of Measure--</option>
                                    @foreach (var item in unitsOfMeasure.Data)
                                    {
                                        <option value="@item.Id" title="@item.Notes">@item.Code - @item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="UnitOfMeasureId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ReorderLevel"></label>
                                <input asp-for="ReorderLevel" class="form-control numbers-only">
                                <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="File"></label>@if (!string.IsNullOrEmpty(Model.ImagePath))
                        {
                            <span><img width="40" class="img-thumbnail" src="~/@Model.ImagePath" /></span>
                        }
                        <input asp-for="File" class="form-control" accept="image/*">
                        <input asp-for="ImagePath" type="hidden">
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Notes"></label>
                        <input asp-for="Notes" class="form-control" rows="3" placeholder="Notes" />
                    </div>
                </div>
                <div class="col-md-6">
                    <p><strong>Status</strong></p>
                    <div class="row">
                        @foreach (var item in statuses)
                        {
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" id="@item.Id" type="radio" asp-for="Status" value="@item.Id">
                                    <label class="form-check-label" for="@item.Id">@item.Text</label>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
