@inject ICookiesService _cookieService;
@inject IClientInstanceInterface _instanceInterface;
@model List<Product>
@{
    ViewData["Active"] = "Products";
    ViewData["Title"] = "Products";
    var userData = _cookieService.Read();
    var instancesRes = await _instanceInterface.ByClientIdAsync(userData.ClientId);
    var instances = instancesRes.Data;
    var instanceId = ViewData["InstanceId"]?.ToString();
}
<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <form autocomplete="off">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Instance</label>
                                <select class="form-control select2" name="insId" style="width: 100%;" required>
                                    <option value="">--Select Instance--</option>
                                    @foreach (var item in instances)
                                    {
                                        if (item.Id.ToString().Equals(instanceId))
                                        {
                                            <option selected="selected" value="@item.Id" title="@item.Notes">@item.Code - @item.Name (@item.Client.Code - @item.Client.Name)</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id" title="@item.Notes">@item.Code - @item.Name (@item.Client.Code - @item.Client.Name)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label>Search</label>
                                <input type="text" name="search" class="form-control" placeholder="Search" value="@ViewData["Search"]" />
                            </div>
                        </div>
                        <div class="col-md-2 mt-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-md-2 mt-4">
                            @if (!User.IsInRole(Role.Clerk))
                            {
                                <span class="text-right">
                                    <a asp-action="Edit" asp-route-id="" class="btn btn-sm btn-info"><i class="fa fa-plus-circle"></i> Add New</a>
                                </span>
                            }
                        </div>
                    </div>
                </form>
            </h3>
        </div>
        <div class="card-body table-responsive">
            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Reorder</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Tax</th>
                        <th>Discount</th>
                        <th>Service</th>
                        <th>Active</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var tax = item.TaxType == null ? "--" : item.TaxType.Name;
                        var price = item.ShowSellingPrice ? $"{item.SellingPrice}" : "--";
                        <tr>
                            <td><a asp-action="ViewProduct" asp-route-id="@item.InstanceId" asp-route-code="@item.Code">@item.Code</a></td>
                            <td>@item.Name [@item.ProductCategory.Name]</td>
                            <td>@item.ReorderLevel</td>
                            <td>@item.AvailableQuantity</td>
                            <td>@price</td>
                            <td>@item.Uom</td>
                            <td>@tax</td>
                            <td>
                                @if (item.AllowDiscount)
                                {
                                    <span class="badge badge-success">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">NO</span>
                                }
                            </td>
                            <td>
                                @if (item.IsService)
                                {
                                    <span class="badge badge-success">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">NO</span>
                                }
                            </td>
                            <td>
                                @if (item.Status.Equals(EntityStatus.Active))
                                {
                                    <span class="badge badge-success">YES</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">NO</span>
                                }
                            </td>
                            <td class="project-actions text-right">
                                <span>
                                    <a asp-action="ViewProduct" asp-route-id="@item.InstanceId" asp-route-code="@item.Code">View</a>
                                </span>
                                @if (!User.IsInRole(Role.Clerk))
                                {
                                    <span>--</span>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-xs">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Reorder</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Unit</th>
                        <th>Tax</th>
                        <th>Discount</th>
                        <th>Service</th>
                        <th>Active</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
