@inject IProductInterface _productInterface;
@inject ICookiesService _cookies;
@model ProductStockAdjustmentViewModel
@{
    ViewData["Active"] = "Stock Adjustment";
    var statuses = Helpers.Statuses();
    var title = $"Product Stock Adjustment";
    ViewData["Title"] = title;
    var userData = _cookies.Read();
    var products = await _productInterface.ByClientIdAsync(userData.ClientId);
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <form role="form" method="post" autocomplete="off">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" />
        <input asp-for="IsEditMode" />
        <input type="hidden" id="productCode" asp-for="Code"/>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="ProductId"></label>
                        <select class="form-control select2" asp-for="ProductId" style="width: 100%;" id="selectedProduct">
                            <option value="">--Select Product--</option>
                            @foreach (var item in products.Data)
                            {
                                <option data-qty="@item.AvailableQuantity" value="@item.Id" title="@item.Notes" data-pcode="@item.Code">@item.Code - @item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CurrentQuantity"></label>
                        <input asp-for="CurrentQuantity" class="form-control" value="" id="currentQuantity" readonly>
                        <span asp-validation-for="CurrentQuantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="QuantityTo"></label>
                        <input asp-for="QuantityTo" class="form-control">
                        <span asp-validation-for="QuantityTo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Notes"></label>
                        <textarea asp-for="Notes" class="form-control" rows="3" placeholder="Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
