@inject IClientInstanceInterface _instanceInterface;
@inject ICookiesService _cookies;
@model List<DailySalesViewModel>
@{
    ViewData["Active"] = "Reports";
    ViewData["Title"] = $"{ViewData["option"]} Sale Report";
    var userData = _cookies.Read();
    var instancesRes = await _instanceInterface.ByClientIdAsync(userData.ClientId);
    var instances = instancesRes.Data;
    var instanceId = ViewData["instanceId"]?.ToString();
    var dateToday = DateTime.Now.ToString("dd-MMM-yyyy");
}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <form role="form" autocomplete="off">
        <input type="hidden" name="Option" value="@ViewData["option"]" />
        <div class="row">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Instance</label>
                            <select class="form-control select2" name="InstanceId" style="width: 100%;">
                                <option value="">--Select Instance--</option>
                                @foreach (var item in instances)
                                {
                                    if (!string.IsNullOrEmpty(instanceId) && item.Id.ToString().Equals(instanceId))
                                    {
                                                <option selected="selected" value="@item.Id" title="@item.Notes">@item.Code - @item.Name (@item.Client.Code - @item.Client.Name)</option>
                                    }
                                    else
                                    {
                                                <option value="@item.Id" title="@item.Notes">@item.Code - @item.Name (@item.Client.Code - @item.Client.Name)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Date From</label>
                            <div class="input-group date" id="dateFrom" data-target-input="nearest">
                                <input type="text" name="dtFrom" class="form-control datetimepicker-input" data-target="#dateFrom" value="@ViewData["dtFrom"]" placeholder="Date From (@dateToday)" />
                                <div class="input-group-append" data-target="#dateFrom" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Date To</label>
                            <div class="input-group date" id="dateTo" data-target-input="nearest">
                                <input type="text" name="dtTo" class="form-control datetimepicker-input" data-target="#dateTo" value="@ViewData["dtTo"]" placeholder="Date To (@dateToday)" />
                                <div class="input-group-append" data-target="#dateTo" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <br />
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>

                @if (Model.Any())
                {
                        <div class="row table-responsive">
                            <table class="table table-striped" id="dataTable">
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>Total Amount</td>
                                        <td>Expected Profit</td>
                                        <td>Actual Profit</td>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                            <tr>
                                                <td>
                                                    <a asp-action="CloseOfDay" asp-route-dt="@item.DayStr"
                                       asp-route-inId="@instanceId" asp-route-dtTo="@item.DayStr">@item.DayStr</a>
                                                </td>
                                                <td>@Helpers.FormatAmount(item.TotalSales, 2)</td>
                                                <td>@Helpers.FormatAmount(item.ExpectedProfit, 2)</td>
                                                <td>@Helpers.FormatAmount(item.ActualProfit, 2)</td>
                                            </tr>
                                }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td> Total Days : @Model.Count </td>
                                        <td>@Helpers.FormatAmount(Model.Sum(x => x.TotalSales), 2) </td>
                                        <td>@Helpers.FormatAmount(Model.Sum(x => x.ExpectedProfit), 2) </td>
                                        <td>@Helpers.FormatAmount(Model.Sum(x => x.ActualProfit), 2) </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                }
            </div>
        </div>
    </form>
</div>

