@inject IClientInstanceInterface _instanceInterface;
@inject ICookiesService _cookies;
@model List<EmployeeLeaveApplication>
@{
    ViewData["Active"] = "HR";
    ViewData["Title"] = "Leave Applications";
    var userData = _cookies.Read();
    var instancesRes = User.IsInRole(Role.SuperAdmin) ?
        await _instanceInterface.AllAsync()
        : await _instanceInterface.ByClientIdAsync(userData.ClientId);
    var instances = instancesRes.Data;
    var instanceId = ViewData["instanceId"]?.ToString();
    var dateToday = DateTime.Now.ToString("dd-MMM-yyyy");
}
<div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                @ViewData["Title"]
                @*<span class="text-right"><a asp-action="Edit" asp-route-id="" class="btn btn-sm btn-info">Add New</a></span>*@
            </h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Instance</label>
                        <select class="form-control select2" name="InstanceId" style="width: 100%;">
                            <option value="">--Select Instance--</option>
                            @foreach (var item in instances)
                            {
                                if (!string.IsNullOrEmpty(instanceId) && item.Id.ToString().Equals(instanceId))
                                {
                                    <option selected="selected" value="@item.Id" title="@item.Notes">@item.Code - @item.Name (@item.Client.Code - @item.Client.Name)</option>
                                }
                                else
                                {
                                    <option value="@item.Id" title="@item.Notes">@item.Code - @item.Name (@item.Client.Code - @item.Client.Name)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Date From</label>
                        <div class="input-group date" id="dateFrom" data-target-input="nearest">
                            <input type="text" name="dtFrom" class="form-control datetimepicker-input" data-target="#dateFrom" value="@ViewData["dtFrom"]" placeholder="Date From (@dateToday)" />
                            <div class="input-group-append" data-target="#dateFrom" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Date To</label>
                        <div class="input-group date" id="dateTo" data-target-input="nearest">
                            <input type="text" name="dtTo" class="form-control datetimepicker-input" data-target="#dateTo" value="@ViewData["dtTo"]" placeholder="Date To (@dateToday)" />
                            <div class="input-group-append" data-target="#dateTo" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <br />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>

            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Employee</th>
                        @*<th>Email Address</th>*@
                        <th>Phone Number</th>
                        <th>Category</th>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th>Days</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a asp-action="ViewLeave" asp-route-id="@item.Id">@item.Code</a></td>
                            <td>@item.User.FullName</td>
                            @*<td>@item.User.Email</td>*@
                            <td>@item.User.PhoneNumber</td>
                            <td>@item.EmployeeLeaveCategory.Title</td>
                            <td>@item.DateFromStr</td>
                            <td>@item.DateToStr</td>
                            <td>@item.Days</td>
                            <td class="project-actions text-right">
                                <a asp-action="EditLeaveApplication" asp-route-id="@item.Id" class="btn btn-info btn-xs">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a asp-action="ById" asp-route-id="@item.Id" class="btn btn-danger btn-xs">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Code</th>
                        <th>Employee</th>
                        @*<th>Email Address</th>*@
                        <th>Phone Number</th>
                        <th>Category</th>
                        <th>Date From</th>
                        <th>Date To</th>
                        <th>Days</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
