@model UnitOfMeasureViewModel
@{
    ViewData["Active"] = "MasterData";
    var statuses = Helpers.Statuses();
    var option = Model.IsEditMode ? "Update" : "Add";
    var title = $"{option} Unit of Measure";
    ViewData["Title"] = title;
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>

    <form role="form" method="post" autocomplete="off">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" />
        <input asp-for="IsEditMode" />
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" class="form-control" placeholder="Code">
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Notes"></label>
                        <input asp-for="Notes" class="form-control" rows="3" placeholder="Notes">
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <div class="row">
                            @foreach (var item in statuses)
                            {
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <input class="form-check-input" id="@item.Id" type="radio" asp-for="Status" value="@item.Id">
                                        <label class="form-check-label" for="@item.Id">@item.Text</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
