@inject ICookiesService _cookies;
@inject IProductInterface _productInterface;
@model CustomerViewModel
@{
	ViewData["Active"] = "POS";
	var option = Model.IsEditMode ? "Update" : "Add";
	var title = $"{option} Customer";
	ViewData["Title"] = title;
	var userData = _cookies.Read();
	var statuses = Helpers.Statuses();
	if (!Model.IsEditMode)
		Model.Code = _productInterface.DocumentRefNumber(Document.Customer, userData.ClientId);
}
<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">@ViewData["Title"]</h3>
	</div>
	<form role="form" method="post" autocomplete="off">
		<div asp-validation-summary="All" class="text-danger"></div>
		<input asp-for="Id" />
		<input asp-for="IsEditMode" />
		<div class="row">
			<div class="col-md-8">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Code"></label>
								@if (Model.Code.Equals(Constants.WalkInCustomerCode))
								{
									<input asp-for="Code" class="form-control" readonly>
								}
								else
								{
									<input asp-for="Code" class="form-control" placeholder="C001">
								}
								<span asp-validation-for="Code" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="FirstName"></label>
								<input asp-for="FirstName" class="form-control" placeholder="John">
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="LastName"></label>
								<input asp-for="LastName" class="form-control" placeholder="Doe">
								<span asp-validation-for="LastName" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="PhoneNumber"></label>
								<input asp-for="PhoneNumber" class="form-control numbers-only" placeholder="07XXXXXXXX">
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Gender"></label>
								<div class="row">
									<div class="col-md-6">
										<div class="form-check">
											<input class="form-check-input" id="rdMale" type="radio" asp-for="Gender" value="Male">
											<label class="form-check-label" for="rdMale">Male</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-check">
											<input class="form-check-input" id="rdFemale" type="radio" asp-for="Gender" value="Female">
											<label class="form-check-label" for="rdFemale">Female</label>
										</div>
									</div>
								</div>
								<span asp-validation-for="Gender" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="Town"></label>
								<input asp-for="Town" class="form-control" placeholder="Nairobi">
								<span asp-validation-for="Town" class="text-danger"></span>
							</div>
						</div>
						@*<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Location"></label>
									<input asp-for="Location" class="form-control" placeholder="Westlands">
									<span asp-validation-for="Location" class="text-danger"></span>
								</div>
							</div>*@
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="EmailAddress"></label>
								<input asp-for="EmailAddress" class="form-control" placeholder="john@doe.com">
								<span asp-validation-for="EmailAddress" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label asp-for="CreditLimit"></label>
								<input asp-for="CreditLimit" class="form-control numbers-only">
								<span asp-validation-for="CreditLimit" class="text-danger"></span>
							</div>
						</div>

					</div>
					@*<div class="row">
							<div class="col-md-6">
									<div class="form-group">
										<label asp-for="PostalAddress"></label>
										<input asp-for="PostalAddress" class="form-control" placeholder="123 Nairobi">
										<span asp-validation-for="PostalAddress" class="text-danger"></span>
									</div>
								</div>
							<div class="col-md-6">
									<div class="form-group">
										<label asp-for="Website"></label>
										<input asp-for="Website" class="form-control" placeholder="www.example.com">
										<span asp-validation-for="Website" class="text-danger"></span>
									</div>
								</div>
						</div>*@
					<div class="row">
						<div class="col-md-12">
							<p><strong>Status</strong></p>
						</div>
						@foreach (var item in statuses)
						{
							<div class="col-md-3">
								<div class="form-check">
									<input class="form-check-input" id="@item.Id" type="radio" asp-for="Status" value="@item.Id">
									<label class="form-check-label" for="@item.Id">@item.Text</label>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h4>Options</h4>
						<div>
							<p class="alert alert-info">
								<i class="fa fa-info-circle fa-2x"></i><br /> Only active customers will be displayed on the main page.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
